<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- require('../partials/commonHeadBeforeEnd/commonHeadBeforeEnd.ejs')() %>
  </head>
  <body>
    <div class="container">
      <%- require('../partials/goBack/goBack.ejs')() %>
      <main>
        <div class="d-flex flex-column align-items-center">
          <h4>Routines</h4>
          <div class="row">
            <div class="col-10 offset-1 text-center">
              Smriti can do multiple things with one command.Customise Routines
              or create new ones from scratch
            </div>
          </div>

          <a href="/reminders/add">
            <div class="badge badge-pill">+&nbsp;&nbsp;&nbsp;Add a routine</div>
          </a>
          <!-- <div id="edit-icon-wrapper">
            <img src="/assets/edit-icon.svg" alt="" />
          </div> -->
          <div class="w-100">
            <ul id="menu-unordered-list" data-collection="reminders"></ul>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
