#profile-options-menu {
  list-style: none;
  li {
    a {
      text-decoration: none;
      color: black;
    }
    margin: 2rem 0;
  }
  .profile-option-title {
    font-weight: 900;
  }
  .profile-option-description {
    font-size: 12px;
  }

  .profile-option-wrapper {
    margin-left: 0.5rem;
  }
}
