<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- require('./partials/commonHeadBeforeEnd/commonHeadBeforeEnd.ejs')() %>
  </head>
  <body>
    <div class="container">
      <header class="container-fluid d-flex justify-content-between">
        <div>
          <h6>Good morning, <span class="font-weight-bold">Vaibhav</span></h6>
          <p>Saturday, <span class="font-weight-bold">7-November-2020</span></p>
        </div>

        <a href="/authenticate">
          <img src="/assets/profile-icon.svg" alt="" />
        </a>
      </header>
      <main>
        <div id="primary-actions-container" class="my-2">
          <span class="badge badge-pill">Who is this?</span>
          <span class="badge badge-pill">What is the current time?</span>
          <span class="badge badge-pill">Where do I live?</span>
          <span class="badge badge-pill">What are my upcoming activities?</span
          ><span class="badge badge-pill">Call my caretaker</span>
        </div>
        <div class="d-flex flex-column align-items-end" id="messages-container">
          <span class="badge badge-pill badge-primary chat-message"
            >Whats my upcoming reminder ?</span
          >
        </div>
      </main>
      <footer
        class="row align-items-center py-4 px-2 bg-white"
        style="position: fixed; bottom: 0; width: 100%"
      >
        <input
          type="text"
          placeholder="Type here"
          class="flex-grow-1 curved p-2 text-primary border-primary"
        />
        <img
          src="/assets/send-icon.svg"
          alt=""
          class="ml-2 p-2 bg-primary rounded-circle"
        />
      </footer>
    </div>
  </body>
</html>
