<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-10">
            <h5>Good morning, <span class="font-weight-bold">Vaibhav</span></h5>
            <h6>
              Saturday, <span class="font-weight-bold">7-November-2020</span>
            </h6>
          </div>
          <div class="col-2">
            <img src="/assets/profile-icon.svg" alt="" />
          </div>
        </div>
      </header>
      <main>
        <div id="primary-actions-container" class="my-2">
          <span class="badge badge-pill">Suggestions</span>
          <span class="badge badge-pill">Suggestions Hi</span>
          <span class="badge badge-pill">Lol</span>
          <span class="badge badge-pill">Suggestions</span
          ><span class="badge badge-pill">Suggestions</span
          ><span class="badge badge-pill">Suggestions</span>
        </div>
        <div>
          <div class="card shadow response-card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Who is this?</h6>
              <div class="row align-items-center">
                <div class="col-7">
                  <h5 class="card-title">This is Joe Biden</h5>

                  <p class="card-text">
                    He is one of your grand child, he is the son of our first
                    chlid Donald Trump
                  </p>
                </div>
                <div class="col-5">
                  <img src="/assets/ladki.png" class="w-100" alt="" />
                </div>
              </div>
              <a href="#" class="btn btn-primary curved">Call this person</a>
            </div>
          </div>
        </div>
      </main>
      <footer
        class="row align-items-center py-4 px-2 bg-white"
        style="position: fixed; bottom: 0; width: 100%"
      >
        <input
          type="text"
          placeholder="Type here"
          class="flex-grow-1 curved p-2 text-primary border-primary"
        />
        <img
          src="/assets/send-icon.svg"
          alt=""
          class="ml-2 p-2 bg-primary rounded-circle"
        />
      </footer>
    </div>
  </body>
</html>
