@import './colors.scss';
#primary-actions-container {
  .badge {
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
    margin: 4px 2px;
  }
}
#messages-container {
  margin-bottom: 7rem;
  .response-card {
    animation: pushed 0.5s ease-in-out;
    margin: 0.75rem 0;
    &.inverted {
      background: $primary;
      .card-body {
        color: white;
        .card-subtitle {
          color: white;
        }
      }
    }
    .card-body {
      padding: 1.5rem 1rem;
      .card-subtitle {
        font-size: 10px;
        color: $grey;
      }
      .card-text {
        font-size: 10px;
      }
      .card-title {
        font-size: 18px;
        font-weight: bold;
      }
      .btn-outline-primary {
        font-size: 10px;
      }
    }
  }
}

@keyframes pushed {
  from {
    transform: translate(0, 50px);
    opacity: 0;
  }
}
