#primary-actions-container {
  .badge {
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
    margin: 4px 2px;
  }
}
.response-card {
  .card-body {
    padding: 1.5rem 1rem;
    .card-subtitle {
      font-size: 10px;
    }
    .card-text {
      font-size: 10px;
    }
    .card-title {
      font-size: 18px;
      font-weight: bold;
    }
    .btn-outline-primary {
      font-size: 10px;
    }
  }
}
