@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import './colors.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $light;
  font-weight: 400;
  > .container {
    margin: 1.5rem 0;
    min-height: 100vh;
  }
}

.curved {
  border-radius: 20px;
}

.shadow {
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05);
}

.badge-pill {
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  background: transparent;
  color: $grey;
  border: 1px solid $grey;

  &.badge-primary {
    background: $primary;
    color: white;
    &.chat-message {
      font-weight: 400;
      margin: 0.75rem 0;
      align-self: flex-end;
      border-width: 0;
    }
  }
}
